<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style2.css" rel="stylesheet" />
    <a href="~/fonts/fontawesome-webfont.eot"></a>
    <a href="~/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/fonts/fontawesome-webfont.woff"></a>
    <a href="~/fonts/fontawesome-webfont.woff2"></a>
    <a href="~/fonts/FontAwesome.otf"></a>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <!--header section of every main page-->
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg ">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="navbar item">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                            <li class="navbar item">@Html.ActionLink("Blog", "BlogPost", "Home", new { @class = "nav-link" })</li>
                            <li class="navbar item">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>
                            <li class="navbar item">@Html.ActionLink("Boat", "InfoBoot", "Home", new { @class = "nav-link" })</li>
                            <li class="navbar item">@Html.ActionLink("Credits", "Credits", "Home", new { @class = "nav-link" })</li>
                        </ul>

                        <ul class="navbar-nav search-right mt-lg-1 mt-2">

                            <li class="nav-item">
                                <span style="color:red;">@Html.Partial("_LoginPartial")</span>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <!--Foot section on every main page-->
        <div>
            @RenderBody()
        </div>
        <div class="container body-content">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - RAAST Hogeschool Rotterdam</p>
            </footer>
        </div>
</body>
</html>
