@{
    Layout = "~/Views/editorNavLayout.cshtml";
}
@model RAAST_web.Models.Blogpost

    <!DOCTYPE html>
<html>
    <body>
        <h3>@Model.title</h3>
        <p>@Model.content</p>
        <br />
        <h2>Comments</h2>
        @foreach ( var item in Model.Comments)
            {
                <p>
                    ---------------------------
                    <br />
                    Name: @item.commenter
                    <br />
                    Cpntent: @item.content
                    <br />
                    Date: @item.cu_date
                    <br />
                    ---------------------------
                </p>
            }
    </body>
</html>
