@{
    Layout = "~/Views/editorNavLayout.cshtml";
}
@model RAAST_web.Models.Blogpost

    <!DOCTYPE html>
<html>
<body>
    <h3>@Model.title</h3>
    <p>@Model.content</p>
    <br />
    <h2>Comments</h2>
    @foreach (var item in Model.Comment)
    {
        <p>
            ---------------------------
            <br />
            Name: @item.commenter
            <br />
            Cpntent: @item.content
            <br />
            Date: @item.cu_date
            <br />
            ---------------------------
        </p>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Comment</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(item => item.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }





    <form action="">
        <p>--------------------------------------------------------------------------------------------------</p>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="T" rows="3"></textarea>
        </div>
        <p>--------------------------------------------------------------------------------------------------</p>
        <button type="button" class="btn btn-primary">Submit</button>
    </form>



</body>
</html>
