@model RAAST_web.Models.Blogpost

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>@Model.title</h1>
    <p>@Model.content</p>
    <br />

    <h2>Comments</h2>
    @foreach (var item in Model.Comment)
    {
        <p>
            ----------------------------------
            <br />
            Name: @item.commenter
            <br />
            Content: @item.content
            <br />
            date: @item.cu_date
            <br />

        </p>
    }
    <h3>@Html.ActionLink("Add Comment", "Create", "Comment", new { blogpostid = Model.Id }, null)</h3>

</body>
</html>