@{
    Layout = "~/Views/editorNavLayout.cshtml";
}
@model RAAST_web.Models.Blogpost
    <!DOCTYPE html>
<html>
<body>
    <h3>@ViewBag.Title</h3>
    <p>@ViewBag.Content</p>
    <br />
    <h2>Comments</h2>
    @foreach (var item in Model.Comment)
    {
        <p>
            ---------------------------
            <br />
            Name: @item.commenter
            <br />
            Cpntent: @item.content
            <br />
            Date: @item.cu_date
            <br />
            ---------------------------
        </p>
    }
<div>
    @Html.ActionLink("Add Comment", "Create", "Comment")
</div>
</body>
</html>
