@model IEnumerable<RAAST_web.Models.Blogpost>

@{
    ViewBag.Title = "Index";
    if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            Layout = "~/Views/adminNavLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/editorNavLayout.cshtml";
        }

    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cu_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slug)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cu_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slug)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
